# 연결하기 위해 호스트명, 포트번호, 서비스명, 사용자명, 비밀번호가 필요

DB_HOST={write your database host}
DB_PORT={write your database port}
DB_SERVICE={write your database service}
DB_USER={write your database user}
DB_PASSWORD={write your database password}
